<script src="static/lib/three.min.js"></script>
<script src="static/lib/js/shaders/CopyShader.js"></script>
<script src="static/lib/js/postprocessing/EffectComposer.js"></script>
<script src="static/lib/js/postprocessing/RenderPass.js"></script>
<script src="static/lib/js/postprocessing/MaskPass.js"></script>
<script src="static/lib/js/postprocessing/ShaderPass.js"></script>

<!-- NodeLibrary -->
<script src="static/lib/js/nodes/GLNode.js"></script>
<script src="static/lib/js/nodes/RawNode.js"></script>
<script src="static/lib/js/nodes/TempNode.js"></script>
<script src="static/lib/js/nodes/InputNode.js"></script>
<script src="static/lib/js/nodes/ConstNode.js"></script>
<script src="static/lib/js/nodes/FunctionNode.js"></script>
<script src="static/lib/js/nodes/FunctionCallNode.js"></script>
<script src="static/lib/js/nodes/NodeUniform.js"></script>
<script src="static/lib/js/nodes/NodeBuilder.js"></script>
<script src="static/lib/js/nodes/NodeLib.js"></script>
<script src="static/lib/js/nodes/NodeFrame.js"></script>
<script src="static/lib/js/nodes/NodeMaterial.js"></script>

<!-- Accessors -->
<script src="static/lib/js/nodes/accessors/PositionNode.js"></script>
<script src="static/lib/js/nodes/accessors/NormalNode.js"></script>
<script src="static/lib/js/nodes/accessors/UVNode.js"></script>
<script src="static/lib/js/nodes/accessors/ColorsNode.js"></script>

<!-- Inputs -->
<script src="static/lib/js/nodes/inputs/IntNode.js"></script>
<script src="static/lib/js/nodes/inputs/FloatNode.js"></script>
<script src="static/lib/js/nodes/inputs/ColorNode.js"></script>
<script src="static/lib/js/nodes/inputs/Vector2Node.js"></script>
<script src="static/lib/js/nodes/inputs/Vector3Node.js"></script>
<script src="static/lib/js/nodes/inputs/Vector4Node.js"></script>
<script src="static/lib/js/nodes/inputs/TextureNode.js"></script>
<script src="static/lib/js/nodes/inputs/CubeTextureNode.js"></script>
<script src="static/lib/js/nodes/inputs/ScreenNode.js"></script>

<!-- Math -->
<script src="static/lib/js/nodes/math/Math1Node.js"></script>
<script src="static/lib/js/nodes/math/Math2Node.js"></script>
<script src="static/lib/js/nodes/math/Math3Node.js"></script>
<script src="static/lib/js/nodes/math/OperatorNode.js"></script>

<!-- Utils -->
<script src="static/lib/js/nodes/utils/SwitchNode.js"></script>
<script src="static/lib/js/nodes/utils/JoinNode.js"></script>
<script src="static/lib/js/nodes/utils/TimerNode.js"></script>
<script src="static/lib/js/nodes/utils/ColorAdjustmentNode.js"></script>
<script src="static/lib/js/nodes/utils/BlurNode.js"></script>

<!-- Post-Processing -->
<script src="static/lib/js/nodes/postprocessing/NodePass.js"></script>

<!-- NodeMaterial Loader -->
<script src="static/lib/js/loaders/NodeMaterialLoader.js"></script>

</body>
</html>
