<header class="nav-header py-1 bg-theme-dark">
 <nav class="w1140 container header-navs">
  <ul class="nav-list container w1140 clearfix">
    <li <% if(page === 'home') { %>
    class='active'
  <% } %> ">
      <a href="#">首页</a>
    </li>
    <li <% if(page === 'menu1') { %>
    class='active'
  <% } %> ">
      <a href="#">menu1</a>
    </li>
    <li  <% if(page === 'menu2') { %>
    class='active'
  <% } %> ">
      <a href="#">menu2</a>
    </li>
    <li <% if(page === 'menu3') { %>
      class='active'
    <% } %> " >
      <a href="#">menu3</a>
    </li>
  </ul>
 </nav>
</header>
