.nav-header{
  height: 60px
  border-bottom: 1px solid rgba(255,255,255, 0.2)
  .nav-list{
    li{
      margin-top: 0
      margin-bottom: 0
      width: 80px;
      float: left
      height: 60px;
      line-height: 60px;
      text-align: center
      &:hover{
        border-bottom: 2px solid rgba(0,157,255,1)
        cursor: pointer
      }
      &.active{
          border-bottom: 2px solid rgba(0,157,255,1)
        }
      a{
        color: #fff
        text-decoration: none;
        padding: 12px 5px;
      }
    }
  }
}
