// 深色
.bg-theme-dark{
  background: radial-gradient(circle, rgba(10,16,38,1), rgba(16,26,56,1))
  color: #fff
}
.bg-dark{
  background-color: rgba(10,16,38,1)
  color: #fff
}
// 浅色
.bg-theme-light{
  background-color: #f3f0f0
  color: #333
}
// 白色
.bg-theme-white{
  background-color: #fff
  color: #333
}
// 动画
.bg-theme-animation{

}
