// 组件公共的样式
.component-title{
    text-align: center
    background-color: #000
    padding: 20px 0
}
.component-title-light{
    text-align: center
    background-color: #fff
    color: #333
    padding: 20px 0
}

.component-title-transparent{
    text-align: center
    background-color: transparent
    color: #333
    padding: 20px 0
}
